<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.ingenesys">

    <!--permiso de red-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--permiso de google maps-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".ui.MapsActivity"
            android:label="@string/title_activity_maps"></activity>

        <!-- actividad principal -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseNAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad initial para el usuario -->
        <activity
            android:name=".ui.InitialActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Initial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.InitialActivity" />
        </activity>


        <!-- Actividad initial para el usuario -->
        <activity
            android:name=".ui.TarifasActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TarifasActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>
</manifest>